.task {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .task__done {

} */

.checked {
    opacity: .5;
}

.like {
    color: red;
}

.input-change, .hide {
    display: none;
}
.show {
    display: block;
}